
# https://wiki.archlinux.org/index.php/laptop#Hibernate_on_low_battery_level
# Suspend the system when battery level drops to 5% or lower
SUBSYSTEM=="drm", ACTION=="change", RUN+="/home/luca/scripts/screen_setup.sh"

