{% extends "base.html" %}
{% block content %}
  <h3>Profilo Giocatore</h3>
  <br>
  <p>Username: {{name}}</p>
  <p>Denaro: {{money}}</p>
  <p>Giocate: {{plays}}</p>
  {% if allplays %}
    <table class="table">
      <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Scommessa</th>
            <th scope="col">Vincita</th>
          </tr>
        </thead>
      {% for play in allplays %}
        <tr>
          <td>{{play.timestamp}}</td> <td>{{play.bet}}</td> <td>{{play.win}}</td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
{% endblock %}