{% extends "base.html" %}
{% block content %}
  <h3>Registrazione Giocatore</h3>
  <br>
  {% if error %}
    <div class="alert alert-danger">
      <strong>{{error}}</strong>
    </div>
  {% endif %}
  <form action="/register" method="post">
    <p>
      <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" required>
    </p>
    <p>
      <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" required>
    </p>
    <p>
      <input class="btn btn-primary" value="Conferma" type="submit">
    </p>
  </form>
{% endblock %}